<%= render "/clients/signin_link"%>

<%#= render "/clients/modal_auth_form" %>

<%#= render :template => "/pages/signup" %>

<div id="br"></div>
<div id="preview"></div><!--end.preview-->
<center id="margin">
	<div class="color blue button">
		<div class="download">Загрузить <span>1.0v</span></div>
	</div><!--end.color-blue-button-->
</center><!--end.center-->
<p id="freedownload">Загрузить бесплатно для <a href="" title="windows version">Windows</a> и <a href="">Mobile</a></p>