<a href="">Политика конфиденциальности</a>
<span class="footer-link-separator"></span>
<a href="">Забыли пароль?</a>
<span class="footer-link-separator"></span>
<a href="">Справка</a>
<span class="footer-link-separator"></span>
<a href="">Условия и ограничения</a>