<div id="signup">
	<h2>Регистрация</h2>
	<form action="" method="post">
	<table width="100%">
		<tr>
			<td ><input type="text" name="" placeholder="Имя" id="login"/></td>
		</tr>
		<tr>
			<td><input type="text" placeholder="Фамилия" name="" id="login"/></td>
		</tr>
		<tr>
			<td ><input type="text" name="" placeholder="Email" id="login"/></td>
		</tr>
		<tr>
			<td>
				<div class="color blue button" style="padding: 5px 15px 5px 15px; margin-top: 7px; float: right;">Регистрация</div>
			</td>
		</tr>
	</table>
	</form>
</div>